@import url('https://fonts.googleapis.com/css?family=Kite+One');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Ceviche+One');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

body {
	margin-top: -20px;
	background-color: #f1eded;
	overflow-x: hidden;
}

#text{
	font-size: 1.5em;
	font-family: 'Patua One', cursive;
	color: white
}
select{
	font-size: 1.3em;
	font-family: 'Nunito', sans-serif;
	color: white;
	background: #4498d4;
	width: 100px;
	height: 50px;
	border: 1px solid #4498d4;
}
option{
	font-size: 1.1em;
	font-family: 'Nunito', sans-serif;
	background: #4498d4;
}
.cards img{
	width: 120px;
	height: 140px;
	margin: 20px;
}
.cards{
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
}
li {
	list-style: none;
}

/* Estilização do filtro*/

div#card-filter {
	padding: 30px 30px;
	font-family: Helvetica;
}

div#card-filter h1 {
	margin-bottom: 15px;
}

div#checkboxes {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

div.checkbox label {
	margin-right: 25px;
	cursor: pointer;
}

#checkboxes input[type=checkbox] {
	display: none;
}

#checkboxes input[type=checkbox] + label {
	display: inline-block;
	height: 20px;
  padding: 0 0 0 25px;
  margin: 0 10px 0 0;
  background-image: url('../imagens/ico-master.png');
  background-repeat: no-repeat;
  background-position: 0 0;
	background-position:0 -60px;
}

#checkboxes input[type=checkbox]:checked + label {
    background-position: 0 -90px;
}

/*estilização do Light Box*/

.box{
	margin-left: -350px;
	margin-top: 0px;
	position: fixed;
	top: 10%;
	left: 50%;
	width: 500px;
	height: 400px;
	background-color: #ffffff;
	z-index: 101;
	padding-bottom: : 14px;
	padding-left: : 14px;
	padding-right: : 14px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333333;
	display: none;
}

.box::after {
  content: "";
  background-image: url("../imagens/rei.jpg");
  background-position: center center;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin-top: 60px;
}

div.box .boxContent .imagestatics img {
	width: 209px; /*pra resolver o problema das cartas novas
	              que ficavam fazendo o lightbox vazar*/
}

.b-close{
	float: right;
	margin-right: 3px;
	cursor: pointer;
	color: white;
	margin-top: 2px;
	font-family: 'Patua One', cursive;
	background: red;
	padding: 4px 8px;
	border-radius: 3px;
	border: 2px solid black;
	border: 3px solid red;
}

.dadosCarta{
	display: none;
}

.namecard{
	display: block;
	position: top;
	top : 0px;
}

p.namecard{
	font-family: 'Rammetto One', cursive;
	font-size: 1.2em;
	top: 0px;
	color: white;
	background-color: black;
	background-size: cover;
	padding: 10px;
	padding-top: 20px;
	margin-top: 0px;
	text-align: center;
	text-transform: uppercase;
}

/*estilização dentro do box */
.totalstatics{
	display: grid;
	grid-template-areas: "headerbox footerbox"
}
.imagestatics{
	grid-area: headerbox;
	margin-left: 10px;
}
 .totalsatatics .imagestatics img{
	width: 10px;
	height: 10px;
}
.statics{
	grid-area: footerbox;
	font-size: 1.1em;
	font-family: 'Patua One', cursive;
	font-weight: 700;
	display: grid;
	margin-left: 30px;
	margin-right: 10px;
	grid-template-areas: "had had"
						  "headerAre footerAre"
						   "headerCos footerCos"
						   	"footerDesc footerDesc";
	grid-gap: 20px;
	grid-column-gap: 90px;
	justify-content: center;
}

#colorido{
	font-family: 'Rammetto One', cursive;
	color: white;
	font-weight: 200;
	font-size: .9em;
	text-transform: uppercase;
	margin-left: -20px;
	margin-top: 15px;
	grid-area: had;
	display : grid;
	grid-template-areas: "headerRar footerRar"
						 "headerTyp footerTyp";
	grid-column-gap: 20px;
	grid-row-gap: 5px;
	height: 60px;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 10px 0px 10px 0px;
}

#colorido .tipicrar {
	grid-area: headerRar;
}

#colorido .statrar{
	grid-area: footerRar;
	border-color: black;
}

#colorido .tipictip{
	grid-area: headerTyp;
}

#colorido .stattip{
	grid-area: footerTyp;
}
.tipicare{
	grid-area: headerAre;
}
.statare{
	grid-area: footerAre ;
}
.tipiccos{
	grid-area: headerCos;
}
.statcos{
	grid-area: footerCos;
}
.descrip{
	grid-area: footerDesc;
	margin-top: 20px;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
}

/*estilização do background da raridade*/
.statorange{
	background: orange;
}
.statpurple{
	background: purple;
}
.statblue{
	background: #87CEEB;
}
.statgray{
	background: gray;
}

/*estilização do menu e background*/

section#banners{
	background-size: cover;
	background-image: url("../imagens/banner0.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition: .5s;
}

section#banners .fa-angle-left {
	margin-right: 70px;
}

section#banners .fa {
	z-index: 29; /* pras setinhas ficarem abaixo do header */
	position: relative;
	font-size: 5em;
	color: #fff;
	transition: .3s;
	cursor: pointer;
}

section#banners .fa:hover {
	color: #4286f4;
	transform: scale(1.12);
}

section#banners #arrowsAndDots {
	display: flex;
	justify-content: center;
	align-items: center;
}

section#banners .bannerDot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: hsla(0,0%,100%,.3);
	margin: 10px 10px 0;
}

section#banners .activeDot {
	background-color: #fff;
}

header{
	z-index: 30; /* pro menu ficar por cima das setinhas */
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: transparent;
	-webkit-transition: background-color .5s;
	padding-bottom: 20px;
}
nav{
	display: table;
	margin: auto;
	margin-top: 15px;
	/*background-color: green;*/
	-webkit-transition: margin-left .5s;
}
ul{
	display: block;
	float: left;
	list-style: none;
}

ul li{
	float: left;
	margin: 10px;
	padding: 2px;
	font-size: 1.5em;
  font-family: 'Patua One', cursive
}

ul a{
	color: #F3F3F3;
	text-decoration: none;
}
ul a:hover{
	color: gray;
	transition: color 2s;
}
img#logo{
	float: left;
	display: block;
	width: 400px;
	height: 400px;
	margin-left: 60px;
	margin-right: 30px;
	margin-top: 0px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}
#body{
	width: 100%;
	height: 500px;
}

/* Estilização do Footer */

section#footer {
	clear: both;
	background-color: #333;
	color: #999;
	font-family: Helvetica;
	padding: 30px 30px;
	margin-top: 20px;
}

section#footer a {
	text-decoration: none;
	color: #4286f4;
}

section#footer p {
	-webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

section#footer .fa-github {
	font-size: 2em;
}

section#footer a#api-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	font-weight: bold;
	transition: color .2s;
	width: 180px;
}

section#footer #api-link:hover {
	color: #4286f4;
}

section#footer a.dev:hover {
	text-decoration: underline;
}
.sword img{
	width: 70px;
	height: 70px;
	position: absolute;
}
