@import url('https://fonts.googleapis.com/css?family=Kite+One');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Ceviche+One');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

body{
	margin-top: -20px;
	background-color: #f1eded;
	overflow-x: hidden;
}

.pageTotal{
	margin-left: 5%;
	margin-right: 5%;
}

.intro p{
	font-family: 'Kite One', sans-serif;
	font-size: 1.2em;
	margin-top: -30px;
}

.intro h3{
	margin-top: -100px;
	margin-bottom: 60px;
	font-family: 'Patua One', cursive;
	font-size: 1.5em;
}

.intro{
	width: 80%;
	display: grid;
	grid-template-areas: "header section footer";
	margin-left: 5%;
	text-align: center;
	grid-column-gap: 10%;
	margin-top:  30px;
	margin-bottom: 30px;
}

.intro #icon1{
	grid-area: header;
	background: white;
}

.intro #icon2{
	grid-area: section;
	background: white;
}

.intro #icon3{
	grid-area: footer;
	background: white;
}

#icon2 img{
	animation-iteration-count: infinite;
}

#icon1 img{
	animation-iteration-count: infinite;
}

.intro img{
	width: 100px;
	margin: 100px;
}

footer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 100px;
}

.populares{
	background-color: white;
}

.random-deck{
	background-color: white;
}

h2{
	font-family: 'Patua One', cursive;
	margin-left: 15px;
}

/*Estilização da News*/
.populares{
	padding-bottom: 20px;
}
.populares img{
	width: 100%;
}

.titleNews{
	background: #60c645;
	font-family: 'Patua One', cursive;
	font-size: 1.2em;
	color: white;
	margin-top: -4px;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-left: 15px;
}

.manchete{
	font-family: 'Rammetto One', cursive;
	color: #414243;
}

.populares p{
	font-family: 'Nunito', sans-serif;
	color: gray;
}

.populares .lerMais{
	font-family: 'Patua One', cursive;
	color: #60c645;
	cursor: pointer;
}

.iconnextPrevious{
	background-color: #ffab18;
	padding: 5px 10px ;
	color: white;
	border-radius: 1000px;
	margin-right: 5px;
}

.nextPrevious{
	display: grid;
	grid-template-areas: "headNex headPre";
	font-family: 'Patua One', cursive;
	justify-content: space-around;
}

.next{
	grid-area: headNex;
}

.previous{
	grid-area: headPre;
}

/*Fim da News*/
.cards{
	display: grid;
	grid-template-columns:  1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
}

li{
	list-style: none;
	font-size: 1.5em;
	font-family: 'Patua One', cursive;
}

.cards img{
	width: 100px;
}

button{
	font-size: 1.3em;
	background-color: #449ad3;
	color: white;
	padding: 5px;
	margin-left: 50px;
}

button:hover{
	background-color: #0b65a0;
	cursor: pointer
}

/*estilização do Light Box*/

.box{
	margin-top: 5%;
	position: fixed;
	top: 10%;
	width: 500px;
	height: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 25px  5px #999;
	z-index: 101;
	padding-bottom: : 14px;
	padding-left: : 14px;
	padding-right: : 14px;
	border-radius: 4px;
	display: none;
}

.box::after {
  content: "";
  background-image: url("../imagens/rei.jpg");
  background-position: center center;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin-top: 60px;
}

.b-close{
	float: right;
	margin-right: 3px;
	cursor: pointer;
	color: white;
	margin-top: 2px;
	font-family: 'Patua One', cursive;
	background: red;
	padding: 4px 8px;
	border-radius: 3px;
	border: 2px solid black;
	border: 3px solid red;
}

.dadosCarta{
	display: none;
}

.namecard{
	display: block;
	position: top;
	top : 0px;
}

p.namecard{
	font-family: 'Rammetto One', cursive;
	font-size: 1.2em;
	top: 0px;
	color: white;
	background-color: black;
	background-size: cover;
	padding: 10px;
	padding-top: 20px;
	margin-top: 0px;
	text-align: center;
	text-transform: uppercase;
}

.sword img{
	width: 70px;
	height: 70px;
	position: absolute;
}

.totalstatics{
	display: grid;
	grid-template-areas: "headerbox footerbox"
}

.imagestatics{
	grid-area: headerbox;
	margin-left: 10px;
}

 .totalsatatics .imagestatics img{
	width: 10px;
	height: 10px;
}

.statics{
	grid-area: footerbox;
	font-size: 1.1em;
	font-family: 'Patua One', cursive;
	font-weight: 700;
	display: grid;
	margin-left: 30px;
	margin-right: 10px;
	grid-template-areas: "had had"
						  "headerAre footerAre"
						   "headerCos footerCos"
						   	"footerDesc footerDesc";
	grid-gap: 20px;
	grid-column-gap: 90px;
	justify-content: center;
}

#colorido{
	font-family: 'Rammetto One', cursive;
	color: white;
	font-weight: 200;
	font-size: .9em;
	text-transform: uppercase;
	margin-left: -20px;
	margin-top: 15px;
	grid-area: had;
	display : grid;
	grid-template-areas: "headerRar footerRar"
						 "headerTyp footerTyp";
	grid-column-gap: 20px;
	grid-row-gap: 5px;
	height: 60px;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 10px 0px 10px 0px;
}

#colorido .tipicrar {
	grid-area: headerRar;
}

#colorido .statrar{
	grid-area: footerRar;
	border-color: black;
}

#colorido .tipictip{
	grid-area: headerTyp;
}

#colorido .stattip{
	grid-area: footerTyp;
}

.tipicare{
	grid-area: headerAre;
}

.statare{
	grid-area: footerAre ;
}

.tipiccos{
	grid-area: headerCos;
}

.statcos{
	grid-area: footerCos;
}

.descrip{
	grid-area: footerDesc;
	margin-top: 20px;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
}

/*estilização do background da raridade*/
.statorange{
	background: orange;
}
.statpurple{
	background: purple;
}
.statblue{
	background: #87CEEB;
}
.statgray{
	background: gray;
}
/*Estilização das arenas */
#arenas img{
	width: 220px;
	height: 250px;
	background-color: white;
	padding: 20px 50px 100px 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#arenas{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}
.namearena{
	text-align: center;
	margin-top: -60px;
	text-transform: capitalize;
}
/*estilização do lightbox da arena */
.dadosArena {
	display: none;
}
.staticsArena{
	background: white;
}
.nameArena{
	text-align: center;
	background: #3c3c3c;
	font-size: 1.3em;
	font-family: 'Rammetto One', cursive;
	text-shadow: 1px 2px 1px black;
	color: white;
	padding-bottom: 5px;
}
.staticsGolds{
	display: grid;
	grid-template-areas: "header footer";
	text-align: center;
	background-color: #f1eded;
}
.vitorygold{
	grid-area: header;
}
.mintrophies{
	grid-area: footer;
}
.staticsGolds img{
	margin: -7px;
	margin-left: 2px;
	margin-right: 2px;
	width:  30px;
	height: 30px;
}

.vitorygold{
	font-family: 'Patua One', cursive;
	color: #3d3d3d;
}
.mintrophies{
	font-family: 'Patua One', cursive;
	color: #3d3d3d;
}
.resultold{
	color: #fec000;
	font-family: 'Rammetto One', cursive;
	font-size: 1.3em;
	text-shadow: 3px 1px 1px black;

}
.resultrophies{
	color: #fec000;
	font-family: 'Rammetto One', cursive;
	font-size: 1.3em;
	text-shadow: 3px 1px 1px black;

}
.staticsCards{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: 'Patua One', cursive;
	font-size: 1.2em;
	margin-left: 5px;
}
.staticsCards img{
	width: 40px;
	height: 50px;
	margin-left: 20px;
	margin-top: 10px;
}

/*Estilização dos Chests*/

.forEachChest{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.staticsChests img{
	width: 42px;
	height: 42px;
	margin-left: 20px;
	margin-top: 10px;
}

.staticsEachChest{
	background-color: #f1eded;
	text-align: center;
	margin: 3px;
	padding: 0px 18px 0px 0px;
}

.titleChest{
	margin-left: 5px;
	font-family: 'Patua One', cursive;
	font-size: 1.2em;
}

.cardsNumber img{
	width: 17px;
	height: 17px;
}

.cardsNumber{
	font-family: 'Rammetto One', cursive;
	font-size: .8em;
	color: white;
	text-shadow: 1px 0px 0px black,
                 -1px 0px 0px black,
                 0px 1px 0px black,
                 0px -1px 0px black;
}


/*Estilização do Menu */
section#banners{
	background-size: cover;
	background-image: url("../imagens/banner0.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

section#banners .fa-angle-left {
	margin-right: 70px;
}

section#banners .fa {
	z-index: 29; /* pras setinhas ficarem abaixo do header */
	position: relative;
	font-size: 5em;
	color: #fff;
	transition: .3s;
	cursor: pointer;
}

section#banners .fa:hover {
	color: #4286f4;
	transform: scale(1.12);
}

section#banners #arrowsAndDots {
	display: flex;
	justify-content: center;
	align-items: center;
}

section#banners .bannerDot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: hsla(0,0%,100%,.3);
	margin: 10px 10px 0;
}

section#banners .activeDot {
	background-color: #fff;
}

header{
	z-index: 30; /* pro menu ficar por cima das setinhas */
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: transparent;
	-webkit-transition: background-color .5s;
	padding-bottom: 20px;
}
nav{
	display: table;
	margin: auto;
	margin-top: 15px;
	-webkit-transition: margin-left .5s;
}
ul{
	display: block;
	float: left;
	list-style: none;
}
ul li{
	float: left;
	margin: 10px;
	padding: 2px;
}
ul a{
	color: #F3F3F3;
	text-decoration: none;
}
ul a:hover{
	color: gray;
	transition: color 2s;
}
img#logo{
	float: left;
	display: block;
	width: 400px;
	height: 400px;
	margin-left: 60px;
	margin-right: 30px;
	margin-top: 0px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}
#body{
	width: 100%;
	height: 500px;
}

/* Estilização do Footer */

section#footer {
	clear: both;
	background-color: #333;
	color: #999;
	font-family: Helvetica;
	padding: 30px 30px;
	margin-top: 20px;
}

section#footer a {
	text-decoration: none;
	color: #4286f4;
}

section#footer p {
	-webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

section#footer .fa-github {
	font-size: 2em;
}

section#footer a#api-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	font-weight: bold;
	transition: color .2s;
	width: 180px;
}

section#footer #api-link:hover {
	color: #4286f4;
}

section#footer a.dev:hover {
	text-decoration: underline;
}
.popover-content .goldpopuver{
	width: 20px;
	height: 20px;
	margin-bottom: -6px;
	margin-left: -10px;
	margin-top: -5px;
}

.goldchest{
	font-size: .8em;
	padding: 2px;
	font-family: "Rammetto One";
	color: white;
	text-shadow: 1px 1px 1px black;
	-webkit-text-stroke-width: .2px; /* largura da borda */
    -webkit-text-stroke-color: #000;

}
